{% extends 'base.html.twig' %}

{% block title %} {% endblock %}
	
   {% block stylesheets %}
   <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/dataTables.bootstrap.min.css">
   
   {% endblock %}

{% block body %}
 {% if is_granted('ROLE_ADMIN') %}  

    {% for message in app.flashes('success') %}
    <div class="alert alert-success" >
    {{ message }}
     </div>
    {% endfor %}
        
    
<div class="container mt-4">
    <table  class="table" id="tables">
        <thead >
                
                <th>Nom d'Utilisateur</th>
                <th>Date Création </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for u in user %}
            <tr>
                
                <td>{{ u.username }}</td>
                <td>{{ u.CreatedAt|date("m/d/Y")  }}</td>
               
               <td>
                        {# On boucle sur les rôles #}
                        {% for role in u.roles %}
                            {% if role == "ROLE_USER" %}
                                Utilisateur
                            {% elseif role == "ROLE_ADMIN" %}
                                Administrateur
                            {% endif %}
                        {% endfor %}
                    </td>
             </tr>

                <td>
                    
                    <a href="{{ path('Modifuser' , {id: u.id}) }} " class="btn btn-info">Modifier</a>
                   <form method="post" action="{{ path('deleteuser',{id: u.id})}}" 
                    style="display:inline-block"
                    onsubmit="return confirm('Etes vous vraiment sur ?')">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ u.id)}}">
                    <button class="btn btn-danger">Supprimer</button>
                    </form>
                    
                </td>
                
                
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% block javascripts %}
    
{% endblock %}

            <a href="{{ path('login_add') }}" class="btn btn-success">Importe une nouveau utilisateur</a>

   </div>
{% endif %}

{% endblock %}
