{% extends 'base.html.twig' %}

{% block title %}Departement index{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/dataTables.bootstrap.min.css">
    
   
   {% endblock %}
   
{% block body %}    
    {% for message in app.flashes('success') %}
    <div class="alert alert-success" >
    {{ message }}
    </div>
    {% endfor %}
    
   <div class="container mt-4">
    <table  class="table table-hover" id="tables">
        <thead >
          
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Date Création</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for d in departement %}
            <tr>
                <td>{{ d.id }}</td>
                <td>{{ d.description }}</td>
                <td>{{ d.CreatedAt|date("m/d/Y")  }}</td>

               
                <td>
                    <a href="{{ path('departement_edit', {id: d.id}) }}" class="btn btn-info" >Modifier</a>

                    <form method="post" action="{{ path('departement_delete',{id: d.id})}}" 
                    style="display:inline-block"
                    onsubmit="return confirm('Etes vous vraiment sur ?')">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ d.id)}}">
                    <button class="btn btn-danger">Supprimer</button>
                    </form>
                </td>
               
            </tr>
        {% endfor %}
        </tbody>
    </table>
 
       
    <a href="{{ path('add') }}" class="btn btn-success" >Ajouter un nouveau departement</a>
   </div>
{% endblock %}
