{% extends 'base.html.twig' %}

{% block title %} {% endblock %}

{% block body %}
 <div >
    {% for message in app.flashes('success') %}
    <div class="alert alert-success" >
    {{ message }}
    </div>
    {% endfor %}

    <table class="table table-striped">
        <thead>
        <tr>
         <th> <a href="{{ path('td_add') }}" class="btn btn-success" >Ajouter un Type de document</a></th>
        </tr>
            <tr>
                
                <th>Description</th>
                <th>service</th>
                <th>Date création</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for td in tdocument %}
            <tr>
                
                <td>{{ td.description }}</td>
                <td>{{ td.service }}</td>
                <td>{{ td.CreatedAt|date("m/d/Y")  }}</td>
               
                <td>
                  
                    <a href="{{ path('td_edite',{id: td.id}) }}" class="btn btn-info" >Modifier</a>

                    <form method="post" action="{{ path('td_delete',{id: td.id})}}" 
                    style="display:inline-block"
                    onsubmit="return confirm('Etes vous vraiment sur ?')">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ td.id)}}">
                    <button class="btn btn-danger">Supprimer</button>
                    </form>

                </td>
                
            </tr>
        {% endfor %}
        </tbody>
    </table>
    

   </div>
{% endblock %}
