{% extends 'base.html.twig' %}

{% block title %} {% endblock %}

 {% block stylesheets %}
     <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/dataTables.bootstrap.min.css">
   
   {% endblock %}

{% block body %}
 
   {% for message in app.flashes('success') %}
 <div class="alert alert-success alert-dismissible">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Success!</strong>  {{ message }}
  </div>
{% endfor %}

    {% for message in app.flashes('supp') %}
 <div class="alert alert-danger alert-dismissible">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Danger!</strong>  {{ message }}
  </div>
    {% endfor %}



    <div class="container" >
<table class="table table-hover dt-responsive nowrap" style="width:100%" id="tables">  
      <thead>
        
            <tr>
                
                <th>Description</th>
                <th>Département</th>
                <th>Ajouter par</th>
                <th>Date création</th>
                <th>Modifier par</th>
               
                
                <th>Actions</th>
                 <th>Date Modification</th>
            </tr>
        </thead>
        <tbody>
        {% for td in tdocument %}
            <tr>
                
                <td>{{ td.description }}</td>
                <td>{{ td.service }}</td>
                <td>{{ td.createdby }}</td>
                <td>{{ td.CreatedAt|date("d/m/Y")  }}</td>
                <td>{{ td.editby }}</td>
               
                
               
                <td>
                  
                 <button>   <a href="{{ path('td_edite',{id: td.id}) }}" ><img src="img/edit.png"></a></button>

                    <form method="post" action="{{ path('td_delete',{id: td.id})}}" 
                    style="display:inline-block"
                    onsubmit="return confirm('Etes vous vraiment sur ?')">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ td.id)}}">
                    <button><img src="img/remove.png"></button>
                    </form>

                </td>
                 <td>{{ td.UpdatedAt|date("d/m/Y")  }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('td_add') }}" class="btn btn-success" >Ajouter un Type de document</a>

   </div>
{% endblock %}
