{% extends 'base.html.twig' %}

{% block title %} {% endblock %}
	
   {% block stylesheets %}
 
   
   {% endblock %}

{% block body %}
	<div class="container">
   {% for message in app.flashes('success') %}
 <div class="alert alert-success alert-dismissible">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Success!</strong>  {{ message }}
  </div>
{% endfor %}
   
      
<div>
    <table class="table table-hover dt-responsive nowrap" style="width:100%" id="tables">
        <thead >
        
            <tr >
            
                <th ></th>
                <th >N° document</th>
            
                
             
                <th >Nom Document</th>
                <th >Ajouter Par</th>
                <th >Date Création</th>
                <th >Modifier Par</th>
                <th >Date Modification</th>
                
                <th >Actions</th>

                <th >Information</th>
                <th >Commentaire</th>
                
            </tr>
        </thead>
        <tbody>
        {% for d in document %}
       

            <tr class="table-Default">
             
              
             <td> <a href="{{ asset('images/documents/' ~ d.imageFile) }}"  target="_blank"><img src="img/fileicon.png"></a> 
            
             </td>
                <td>{{ d.numdocument }}</td>
               
               <td>{{ d.nomdocument }}</td>
               <td>{{ d.createdby }}</td>
                <td>{{ d.CreatedAt|date("d/m/Y")  }}</td>
               <td>{{ d.editby }}</td>
               <td>{{ d.UpdatedAt|date("d/m/Y")  }}</td>
               
               
              
                
                <td>
                    
                    <button ><a href="{{ path('document_edite',{id: d.id})  }} " ><img src="img/edit.png"></a></button>
                    <form method="post" action="{{ path('document_delete',{id: d.id})}}" 
                    style="display:inline-block"
                    onsubmit="return confirm('Etes vous vraiment sur ?')">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ d.id)}}">
                    <button ><img src="img/remove.png"></button>
                    </form>
                    
                </td>
             <td>{{ d.information }}</td>
               <td>{{ d.commentaire }}</td>    
           

            </tr>
        {% endfor %}
        </tbody>
    </table>
{% block javascripts %}
   
{% endblock %}

            
            <a href="{{ path('document_add') }}" class="btn btn-success">Importe un nouveau document</a>
            
   </div>
   </div>


{% endblock %}
