{% extends 'base.html.twig' %}

{% block title %} {% endblock %}
	
   {% block stylesheets %}
   <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/dataTables.bootstrap.min.css">
   
   {% endblock %}

{% block body %}

    {% for message in app.flashes('success') %}
    <div class="alert alert-success" >
    {{ message }}
     </div>
    {% endfor %}
        
    
<div class="container mt-4">
    <table  class="table table-hover" id="tables">
        <thead >
        
            <tr >
            
                <th ></th>
                <th >N° document</th>
                <th >Information</th>
                <th >Commentaire</th>
                <th >Document</th>
                <th >Date Création</th>
                <th >Actions</th>
                
            </tr>
        </thead>
        <tbody>
        {% for d in document %}
       

            <tr class="table-Default">
             
              
             <td> <a href="{{ asset('images/documents/' ~ d.imageFile) }}"  target="_blank"><img src="img/fileicon.png"></a> 
            
             </td>
                <td>{{ d.numdocument }}</td>
                <td>{{ d.information }}</td>
               <td>{{ d.commentaire }}</td>
               <td>{{ d.nomdocument }}</td>
               <td>{{ d.CreatedAt|date("m/d/Y")  }}</td>
                
                <td>
                    
                    <a href="{{ path('document_edite',{id: d.id})  }} " class="btn btn-info">Modifier</a>
                    <form method="post" action="{{ path('document_delete',{id: d.id})}}" 
                    style="display:inline-block"
                    onsubmit="return confirm('Etes vous vraiment sur ?')">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ d.id)}}">
                    <button class="btn btn-danger">Supprimer</button>
                    </form>
                    
                </td>
                
                
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% block javascripts %}
    
{% endblock %}

            
            <a href="{{ path('document_add') }}" class="btn btn-success">Importe un nouveau document</a>
            

   </div>
{% endblock %}
